.container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    .table{
        width: 100%;
        max-width: 1220px;
        
    }
    .btnInfo{
        height: 32px !important;
        min-height: 32px;
    }
    .score{
        width: 100%;
        display: flex;
        padding: 0 5rem;
        .card{
            width: 20%;
        }
    }
}